<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qf.travel.mapper.PemissionMapper">


    <!-- 显示所有用户（包含管理员） -->
    <select id="listAllAdmin" parameterType="com.qf.travel.vo.UserInfoVo" resultType="com.qf.travel.vo.UserInfoVo">
        SELECT id,username,regist_email,regist_phone,update_time,phone,address,sex,login_time FROM t_userinfo WHERE user_state = 2
    </select>

<!--    &lt;!&ndash; 删除管理员权限 &ndash;&gt;
    <update id="delAdmin" parameterType="com.qf.travel.vo.UserInfoVo">
        update
    </update>


    &lt;!&ndash;增加管理员&ndash;&gt;
    <insert id="addAdmin" parameterType="com.qf.travel.vo.UserInfoVo">

    </insert>

    &lt;!&ndash;修改管理员&ndash;&gt;
    <update id="updateAdmin" parameterType="com.qf.travel.vo.UserInfoVo">

    </update>-->


</mapper>